<nav class="clearfix">
  <div class="navbar-toggler" (click)="toggleNavbar()">
    <span></span>
    <span></span>
    <span></span>
  </div>
  <h1>
    <a routerLink="/">Logo</a>
  </h1>
  <ul>
    <li>
      <a routerLink="/" (click)="toggleNavbar()">Watches</a>
    </li>
    <li>
      <a routerLink="/cart" (click)="toggleNavbar()">Cart</a>
    </li>
    <li *ngIf="!loggedUser">
      <a routerLink="/login" (click)="toggleNavbar()">Login</a>
    </li>
    <li *ngIf="!loggedUser">
      <a routerLink="/signup" (click)="toggleNavbar()">Sign up</a>
    </li>
    <li class="dropdown-li" *ngIf="loggedUser">
      <div class="dropdown-menu">
        <a class="dropdown-toggler" (click)="toggleDropdown()">Account</a>
        <div class="dropdown-items" *ngIf="dropdownOpen">
          <a routerLink="#">Settings</a>
          <a routerLink="#">My orders</a>
          <a (click)="logout()">Logout</a>
        </div>
      </div>
    </li>
  </ul>
</nav>
